/* Custom Stylesheet */
/**
 * FATONI HAVID - fatoni.work@gmail.com
 * 
 */

.login-page{background-color: #fff;}
.login-box-body{padding: 0px;}
.login-box-body form{padding: 12px 0;}
.login-box-msg{padding: 8px;}

/*HELPER*/
.white{background-color: #FFF!important;}

/*COMP*/
.select2-container--default .select2-selection--single{border-radius: 0px!important}
.select2-container .select2-selection--single{height: 34px!important;}
.img-produk{float:left;width: 100%;width: 125px;margin: 0 5px 5px 0;}
.img-produk img{width: 125px;height: 125px;border: 1px solid #bbb;}
.img-produk .btn{width:100%;border-radius: 0px;}
.box-tool{clear:both;width:100%;padding: 5px 0 0 0;}
.box-tools{position: relative;float: right;}
.box-header>.box-tools{position: relative;float: right;}
.nav-tabs-custom>.nav-tabs>li.disabled>a{display: none;}
.drotate{ position: absolute; z-index:2; top:0px; left:2px; font-size:14px; cursor:pointer; color:#ef5350; }
.drotate:hover{ font-size:25px; color:#e53935; }
.fa-custom {font-size: 1.5em; vertical-align: middle; line-height: 35px;}
.images {
    display: block;
    width: 100%;
    height: 100%;
    /* padding: 6px 12px; */
    max-width: 200px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.delimg {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #ef5350;
}

#map_add { width: 100%; height: 500px; } 

.indicators-chart i{ float: left; display: block; width: 26px; height: 26px; line-height: 26px; text-align: center; font-size: 24px; margin-right: 8px; }